<p>You may see medical abbreviations that you are not familiar with.</p>
<a href="https://www.nhs.uk/nhs-app/nhs-app-help-and-support/health-records-in-the-nhs-app/abbreviations-commonly-found-in-medical-records/" class="app-link--with-icon nhsuk-link--no-visited-state">
  Help with abbreviations
</a>