{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "29 August 2025 10:43am" %}
{% set pageDescription = "Crescent Park Family Practice" %}
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ dynamicPageTitle({
      title: pageHeading,
      titleSmall: true,
      description: pageDescription
    }) }}

    <div class="nhsuk-u-margin-bottom-7">

      <p class="nhsuk-u-font-weight-bold nhsuk-heading-s nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
        Miss Diana Turner
      </p>

<p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">Comment</p>
<ul>
  <li>Patient mobile telephone number</li>
  <li class="nhsuk-u-margin-left-4">+447996579988</li>
  <li> SMS text message sent to patient</li>
  <li class="nhsuk-u-margin-left-4">Dear Patient X, thank you for your recent eConsult, ;; a telephone appointment has been booked with you for the evening of 29/08/2025 with Dr Turin as part of our extended access hours. Please ensure you always have your phone with you. This call will be made from a withheld or unknown number and only 2 call attempts will be made. If your symptoms worsen, please don’t hesitate to contact us or call 111.<br> Sent on 29/08/2025 at 10:43am</li>
  </ul>
    </div>
<!-- Section Break -->
 <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-2">

 <div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <p>You may see medical abbreviations that you are not familiar with.</p>
    <a href="https://www.nhs.uk/nhs-app/nhs-app-help-and-support/health-records-in-the-nhs-app/abbreviations-commonly-found-in-medical-records/" class="app-link--with-icon nhsuk-link--no-visited-state">
      {{ nhsappIcon('help') }}
      Help with abbreviations
    </a>

  </div>
</div>

{% endblock %}