{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "29 August 2025 8:23am" %}
{% set pageDescription = "Crescent Park Family Practice" %}
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ dynamicPageTitle({
    title: pageHeading,
    titleSmall: true,
    description: pageDescription
    }) }}

    <div class="nhsuk-u-margin-bottom-7">

      <p class="nhsuk-u-font-weight-bold nhsuk-heading-s nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
        Miss Diana Turner
      </p>

      <h2 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">Comment</h2>
      <ul>
        <li>eConsultation via online application</li>
        <li class="nhsuk-u-margin-left-4"> Patient request: Appointment – emergency appointment request</li>
        <li> NHS number: 0000002220</li>
        <li> Name: Neil Dean </li>
        <li> DOB: 08/09/1979 </li>
        <li> Gender: Male </li>
        <li> Postcode: HP4 7GH </li>
        <li>Phone number: 07996579988</li>
        <li>Registered at: Crescent Park Family Practice</li>
        <li>Medical problem: Suffering from a dull headache and nausea</li>
        <li>How long has this been going on for?: Over a week</li>
        <li>Is this problem getting better or worse?: getting worse</li>
        <li>Have you tried anything?: Taken various painkillers</li>
        <li>Expectations: an appointment to discuss symptoms with GP. </li>
        <li>Contact method preference: Mobile</li>
        <li>• Preferred clinician to contact them: None</li>
      </ul>
      <p>Received on 29/08/2025 at 8:23am</p>
    </div>
  </div>
</div>
<!-- Section Break -->
<hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-2">

{{ glossary()}}

{% endblock %}