{% extends 'layout-app.html' %}

{% set hub = "Home" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "21 March 2025 3:30pm" %}
{% set pageDescription = "Crescent Park Family Practice" %}
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ dynamicPageTitle({
    title: pageHeading,
    titleSmall: true,
    description: pageDescription,
    descriptionAriaHidden: true,
    ariaLabel: "21st March 2025 at 3:30pm with Miss Diana Turner from Crescent Park Family Practice"
    }) }}

    <div class="nhsuk-u-margin-bottom-7">

      <p class="nhsuk-u-font-weight-bold nhsuk-heading-s nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
        Miss Diana Turner
      </p>

      <h2 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">Comment</h2>
      <ul>
        <li>Patient mobile telephone</li>
        <li class="nhsuk-u-margin-left-4"> +447996579988</li>
        <li> SMS text message sent to patient</li>
        <li class="nhsuk-u-margin-left-4"> Dear Patient X, please complete the linked survey regarding the proposed new
          opening hours and parking restrictions at the surgery. Your feedback will help us shape new and improved
          healthcare.</li>

    </div>
  </div>
</div>
<!-- Section Break -->
<hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-2">

{{ glossary()}}

{% endblock %}