{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "18 January 2025 10:30am" %}
{% set pageDescription = "Crescent Park Family Practice" %}
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ dynamicPageTitle({
    title: pageHeading,
    titleSmall: true,
    description: pageDescription
    }) }}

    <div class="nhsuk-u-margin-bottom-7">

      <p class="nhsuk-u-font-weight-bold nhsuk-heading-s nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
        Nurse Marta Silva
      </p>

      <h2 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">History</h2>
      <ul class="nhsuk-u-margin-bottom-0">
        <li>Type-2 Diabetes for 4 years; managed with insulin and diet. </li>
        <li>HbA1c levels stable</li>
      </ul>
      <h2 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">Comment</h2>
      <ul>
        <li>Annual diabetes review</li>
        <li>Px making good progress managing condition</li>
        <li>Reports improved mood, but some weight gain. Consider alternative diet</li>
      </ul>
    </div>

    <!-- Section Break -->
    <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-2">

    {{ glossary()}}
  </div>
</div>
{% endblock %}