{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Appointment notes and other updates" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading
    })}}
 <!-- SECTION TITLE - NOVEMBER -->
    <h3 class="nhsuk-heading-s ">November 2025</h3>

<ul class="nhsapp-cards">
<!-- Note 1 -->
  <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="1-18-november"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          18 November 2025 2:16pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Nurse Jamima Jackson </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

<p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">History</p>
<div class="truncate-3">
  <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
    <li>Patient diagnosed with Type-2 Diabetes 4.5 years ago</li>
    <li>Treatments include insulin and dietary changes</li>
    <li>Patient also diagnosed with hypertension</li>
  </ul>
</div>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>

 <!-- Note 2 -->
    <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="1-18-november"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          18 November 2025 2:16pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Dr Sarah Mitchell </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

<p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">History</p>
<div class="truncate-3">
  <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
    <li>Type-2 Diabetes diagnosed 4.5 years ago. Initially managed with Insulin; patient later introduced to modified-release formulation due to GI side effects.</li>
    
  </ul>
</div>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>

</ul>

 <!-- SECTION TITLE - SEPTEMBER -->
    <h3 class="nhsuk-heading-s ">September 2025</h3>

 <!-- CARD LINKS -->
<ul class="nhsapp-cards">
  <!-- Update 1 -->
 <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="note-1"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          14 September 2025 5:30 pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Dr Priya Turin </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>

<!-- Update 2 -->

   <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="note-1"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          14 September 2025 2:30 pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Dr Priya Turin </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>

<!-- Update 3 -->

   <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="note-1"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          14 September 2025 2:30 pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Dr Priya Turin </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>


<!-- Update 4 -->
   <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="note-1"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          14 September 2025 2:30 pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Dr Priya Turin </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>


<!-- Update 5 -->
    <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="note-1"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          14 September 2025 2:30 pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Dr Priya Turin </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>


<!-- Update 6 -->
    <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="note-1"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          14 September 2025 2:30 pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Dr Priya Turin </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>

<!-- Update 7 -->
    <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="note-1"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          7 September 2025 4:30 pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
DOCMAN </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>
</ul>

 <!-- SECTION TITLE - AUGUST -->
    <h3 class="nhsuk-heading-s ">August 2025</h3>

    <ul class="nhsapp-cards">
<!-- Note 3 -->
 <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="3-29-august"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          29 August 2025 3:15pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Dr Priya Turin </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

<p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">Problem</p>
<div class="truncate-3">
  <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
    <li>Patient reports headache and nausea; had been consuming large amounts of coffee over the last month due to work stress.</li>
  </ul>
</div>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>

<!-- Note 4 -->
  <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="4-29-august"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          29 August 2025 10:43am
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Miss Diana Turner </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

<p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">Comment</p>
<div class="truncate-3">
  <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
<li>Patient mobile telephone number </li>
<li class="nhsuk-u-margin-left-4">+447996579988</li>
<li> SMS text message sent to patient </li>
</ul>
</div>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>

<!-- Note 5 -->
  <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="5-29-august"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          29 August 2025 8:23am
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Miss Diana Turner </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

<p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">Comment</p>
<div class="truncate-3">
  <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
<li>eConsultation via online application </li>
<li class="nhsuk-u-margin-left-4"> Patient request: Appointment – emergency appointment request</li>
<li>NHS number: 0000002220</li>
</ul>
</div>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>
    </ul>

 <!-- SECTION TITLE - JULY -->
  <h3 class="nhsuk-heading-s "> July 2025</h3>

 <ul class="nhsapp-cards">
<!-- Note 6 -->
   <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="6-6-july"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
           6 July 2025 4:30pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Dr Ahmed Khan </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

<p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1"> History</p>
<div class="truncate-3">
  <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
<li>Type-2 Diabetes for 4.5 years </li>
<li> Reports struggling to stick with new diet </li>
<li>No increase in HbA1C levels </li>
</ul>
</div>
</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>
 </ul>

 <!-- SECTION TITLE - JULY -->
  <h3 class="nhsuk-heading-s "> March 2025</h3>

 <ul class="nhsapp-cards">
<!-- Note 7 -->
   <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="7-21-march"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
           21 March 2025 3:30pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Miss Diana Turner </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

<p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">Comment</p>
<div class="truncate-3">
  <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
<li>Patient mobile telephone number </li>
<li class="nhsuk-u-margin-left-4">+447996579988</li>
<li> SMS text message sent to patient </li>
</ul>
</div>
</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>

<!-- Note 8 -->
    <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="8-18-march"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
           18 March 2025 9:30am
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Dr Ella Weston </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

<p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">Medication</p>
<div>
  <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
<li>Insulin - 10 units of long-acting (basal) insulin once a day</li>
</ul>
</div>
</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>
 </ul>

  <!-- SECTION TITLE - JANUARY -->
  <h3 class="nhsuk-heading-s "> January 2025</h3>

  <ul class="nhsapp-cards">
<!--Note 9-->
    <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="9-18-january"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
           18 January 2025 10:30am
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Nurse Marta Silva </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

<p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">History</p>
<div>
  <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
<li>Type-2 Diabetes for 4 years; managed with insulin and diet. </li>
<li>HbA1c levels stable </li> </ul>

</div>
</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>
  </ul>

 <!-- SECTION TITLE - NOVEMBER -->
  <h3 class="nhsuk-heading-s "> November 2024</h3>

<!--Update 8-->

  <!-- SECTION TITLE - AUGUST -->
  <h3 class="nhsuk-heading-s "> August 2024</h3>

  <ul class="nhsapp-cards">
<!--Note 10-->
 <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="10-12-august"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
           12 August 2024 3:30pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Nurse Daniel Horton </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

<p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">History</p>
<div>
  <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
<li>Type-2 Diabetes for 3.5 years; managed with insulin and diet. </li>
<li>HbA1c levels stable </li>
<li>New onset chest pains over past month; </li>
  </ul>
  </div>
</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>
  

<!--Note 11-->
    <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="11-1-august"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
           1 August 2024 3:15pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Dr Joanna Patel </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>


<p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">Comment</p>
<div class="truncate-3">
  <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
<li>Patient mobile telephone number </li>
<li class="nhsuk-u-margin-left-4">+447996579988</li>
<li> SMS text message sent </li>
</ul>

</div>
</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>
  </ul>

<!-- SECTION TITLE - AUGUST --> 
 <h3 class="nhsuk-heading-s "> August 2024</h3>
 
 <ul>
<!--Update 9-->
    <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="note-1"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          26 June 2024 4:30 pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Nurse Callum Evans </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Crescent Park Family Practice </p>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
    </li>
</ul>

{% endblock %}