{% extends 'layout-app.html' %}

{% set hub = "Home" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Appointment notes and other updates" %}
{% set pageDescription = "Latest notes and updates from 2025" %}
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <!-- DYNAMIC PAGE TITLE -->
    {{ dynamicPageTitle({
    title: pageHeading,
    titleSecondary: true
    })}}

    <div class="nhsapp-card">
      <div class="nhsapp-card__container">
        <div class="nhsapp-card__content">
          <a href="view-appointments-by-year" class="nhsapp-card__link nhsuk-link--no-visited-state">
            View by year
          </a>
        </div>


        <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
          <path
            d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
        </svg>
      </div>
    </div>


    <h2>{{pageDescription}}</h2>


    <!-- SECTION TITLE - NOVEMBER -->
    <h3 class="nhsuk-heading-s ">November 2025</h3>

    <ul class="nhsapp-cards" role="list">
      <!-- NOTE 1 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="1-18-november" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="18 November 2025 at 2:25pm with Nurse Jamima Jackson from Crescent Park Family Practice">
              18 November 2025 2:25pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Nurse Jamima Jackson </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">History</h4>
            <div class="truncate-3">
              <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
                <li>Patient diagnosed with Type-2 Diabetes 4.5 years ago</li>
                <li>Treatments include insulin and dietary changes</li>
                <li>Patient also diagnosed with hypertension</li>
              </ul>
            </div>

          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>

      <!-- NOTE 2 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="2-18-november" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="18 November 2025 at 12:16pm with Dr Sarah Mitchell from Crescent Park Family Practice">
              18 November 2025 12:16pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Dr Sarah Mitchell </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">History</h4>
            <div class="truncate-3">
              <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
                <li>Type-2 Diabetes diagnosed 4.5 years ago. Initially managed with Insulin; patient later introduced to
                  modified-release formulation due to GI side effects.</li>

              </ul>
            </div>

          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>
    </ul>

    <!-- SECTION TITLE - SEPTEMBER -->
    <h3 class="nhsuk-heading-s ">September 2025</h3>

    <!-- CARD LINKS -->
    <ul class="nhsapp-cards" role="list">
      <!-- Update 1 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="14-september-2025" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="14 September 2025 at 5:30pm with Dr Priya Turin from Crescent Park Family Practice">
              14 September 2025 5:30 pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Dr Priya Turin </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">Comment</h4>

            <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
              <li> Test results submitted</li>

            </ul>


          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>

      <!-- Update 2 -->

      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="14-september" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="14 September 2025 at 2:30pm with Dr Priya Turin from Crescent Park Family Practice">
              14 September 2025 2:30 pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Dr Priya Turin </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>

      <!-- Update 3 -->

      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="14-september" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="14 September 2025 at 2:30pm with Dr Priya Turin from Crescent Park Family Practice">
              14 September 2025 2:30 pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Dr Priya Turin </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>


      <!-- Update 4 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="14-september" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="14 September 2025 at 2:30pm with Dr Priya Turin from Crescent Park Family Practice">
              14 September 2025 2:30 pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Dr Priya Turin </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>


      <!-- Update 5 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="14-september" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="14 September 2025 at 2:30pm with Dr Priya Turin from Crescent Park Family Practice">
              14 September 2025 2:30 pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Dr Priya Turin </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>


      <!-- Update 6 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="14-september" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="14 September 2025 at 2:30pm with Dr Priya Turin from Crescent Park Family Practice">
              14 September 2025 2:30 pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Dr Priya Turin </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>

      <!-- Update 7 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="7 September 2025 at 4:30pm with DOCMAN - PCTI">
              7 September 2025 4:30 pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              DOCMAN - PCTI </p>



          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>
    </ul>

    <!-- SECTION TITLE - AUGUST -->
    <h3 class="nhsuk-heading-s ">August 2025</h3>

    <ul class="nhsapp-cards" role="list">
      <!-- Note 3 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="3-29-august" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="29 August 2025 at 3:15pm with Dr Priya Turin from Crescent Park Family Practice">
              29 August 2025 3:15pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Dr Priya Turin </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">Problem</h4>
            <div class="truncate-3">
              <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
                <li>Patient reports headache and nausea; had been consuming large amounts of coffee over the last month
                  due to work stress.</li>
              </ul>
            </div>

          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>

      <!-- Note 4 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="4-29-august" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="29 August 2025 at 10:43am with Miss Diana Turner from Crescent Park Family Practice">
              29 August 2025 10:43am
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Miss Diana Turner </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">Comment</h4>
            <div class="truncate-3">
              <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
                <li>Patient mobile telephone number </li>
                <li class="nhsuk-u-margin-left-4">+447996579988</li>
                <li> SMS text message sent to patient </li>
              </ul>
            </div>

          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>

      <!-- Note 5 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="5-29-august" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="29 August 2025 at 8:23am with Miss Diana Turner from Crescent Park Family Practice">
              29 August 2025 8:23am
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Miss Diana Turner </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">Comment</h4>
            <div class="truncate-3">
              <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
                <li>eConsultation via online application </li>
                <li class="nhsuk-u-margin-left-4"> Patient request: Appointment – emergency appointment request</li>
                <li>NHS number: 0000002220</li>
              </ul>
            </div>

          </div>



          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>
    </ul>

    <!-- SECTION TITLE - JULY -->
    <h3 class="nhsuk-heading-s "> July 2025</h3>

    <ul class="nhsapp-cards" role="list">
      <!-- Note 6 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="6-6-july" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="6 July 2025 at 4:30pm with Dr Ahmed Khan from Crescent Park Family Practice">
              6 July 2025 4:30pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Dr Ahmed Khan </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0"> History</h4>
            <div class="truncate-3">
              <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
                <li>Type-2 Diabetes for 4.5 years </li>
                <li> Reports struggling to stick with new diet </li>
                <li>No increase in HbA1C levels </li>
              </ul>
            </div>
          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>
    </ul>

    <!-- SECTION TITLE - MARCH -->
    <h3 class="nhsuk-heading-s "> March 2025</h3>

    <ul class="nhsapp-cards" role="list">
      <!-- Note 7 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="7-21-march" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="21 March 2025 at 3:30pm with Miss Diana Turner from Crescent Park Family Practice">
              21 March 2025 3:30pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Miss Diana Turner </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">Comment</h4>
            <div class="truncate-3">
              <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
                <li>Patient mobile telephone number </li>
                <li class="nhsuk-u-margin-left-4">+447996579988</li>
                <li> SMS text message sent to patient </li>
              </ul>
            </div>
          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>

      <!-- Note 8 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="8-18-march" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="18 March 2025 at 9:30am with Dr Ella Weston from Crescent Park Family Practice">
              18 March 2025 9:30am
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Dr Ella Weston </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">Medication</h4>
            <div>
              <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
                <li>Insulin - 10 units of long-acting (basal) insulin once a day</li>
              </ul>
            </div>
          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>
    </ul>

    <!-- SECTION TITLE - JANUARY -->
    <h3 class="nhsuk-heading-s "> January 2025</h3>

    <ul class="nhsapp-cards" role="list">
      <!--Note 9-->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="9-18-january" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="18 January 2025 at 10:30am with Nurse Marta Silva from Crescent Park Family Practice">
              18 January 2025 10:30am
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Nurse Marta Silva </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">History</h4>
            <div>
              <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
                <li>Type-2 Diabetes for 4 years; managed with insulin and diet. </li>
                <li>HbA1c levels stable </li>
              </ul>

            </div>
          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>
    </ul>

    <!-- SECTION TITLE - NOVEMBER -->
    <h3 class="nhsuk-heading-s "> November 2024</h3>

    <ul class="nhsapp-cards" role="list">
      <!--Update 8-->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="18 November 2024 at 4:30pm with DOCMAN - PCTI">
              18 November 2024 4:30 pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              DOCMAN - PCTI </p>
            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">Additional</h4>
            <div>
              <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
                <li>Administration </li>
              </ul>

            </div>


          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>
    </ul>
    <!-- SECTION TITLE - AUGUST -->
    <h3 class="nhsuk-heading-s "> August 2024</h3>

    <ul class="nhsapp-cards" role="list">
      <!--Note 10-->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="10-12-august" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="12 August 2024 at 3:30pm with Nurse Daniel Horton from Crescent Park Family Practice">
              12 August 2024 3:30pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Nurse Daniel Horton </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">History</h4>
            <div>
              <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
                <li>Type-2 Diabetes for 3.5 years; managed with insulin and diet. </li>
                <li>HbA1c levels stable </li>
                <li>New onset chest pains over past month; </li>
              </ul>
            </div>
          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>


      <!--Note 11-->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="11-1-august" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="1 August 2024 at 3:15pm with Dr Joanna Patel from Crescent Park Family Practice">
              1 August 2024 3:15pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Dr Joanna Patel </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>


            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">Comment</h4>
            <div class="truncate-3">
              <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
                <li>Patient mobile telephone number </li>
                <li class="nhsuk-u-margin-left-4">+447996579988</li>
                <li> SMS text message sent </li>
              </ul>

            </div>
          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>
    </ul>

    <!-- SECTION TITLE - JUNE -->
    <h3 class="nhsuk-heading-s" role="list"> August 2024</h3>

    <ul class="nhsapp-cards">
      <!--Update 9-->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="26 June 2024 at 4:30pm with Nurse Callum Evans from Crescent Park Family Practice">
              26 June 2024 4:30 pm
            </a>


            <p aria-hidden="true" class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1">
              Nurse Callum Evans </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>
    </ul>

    {{ glossary()}}

    {% endblock %}