{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Appointment notes and other updates" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading
    })}}
 <!-- SECTION TITLE - MARCH -->
    <h3 class="nhsuk-heading-s ">July 2025</h3>

    <!-- CARD LINKS -->
<ul class="nhsapp-cards">
  <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="#"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          15 July 2025 10:30 am
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Dr Allen Marsh (Clinical Practitioner) </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Bragston Medical Practice </p>

<p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0" aria-hidden="true">Problem</p>
<p class="nhsuk-u-margin-top-0" > • Patient reports headache and nausea;; had been consuming large amounts of
coffee the last month dur to work stress</p>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>

  <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="note-1"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          14 July 2025 5:30 pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Nurse Jamima Jackson (Nurse Practitioner) </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Bragston Medical Practice </p>

<p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0" aria-hidden="true">History</p>
<p class="nhsuk-u-margin-top-0" > • Attended alone: ID confirmed <br>
• multiple years history of lump left side of forehead <br>
</p>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>

<li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="note-1"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          12 July 2025 5:30 pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Nurse Jamima Jackson (Nurse Practitioner) </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Bragston Medical Practice </p>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>

 </ul>
 
 <!-- SECTION TITLE - MARCH -->
    <h3 class="nhsuk-heading-s ">March 2025</h3>

   <ul class="nhsapp-cards">
   <li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="note-1"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          12 March 2025 2:30 pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Nurse Jamima Jackson (Nurse Practitioner) </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Bragston Medical Practice </p>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>

<li class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <a
          href="note-1"
          class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
          aria-label="Orthopaedic appointment on Friday 7 June 2024 at 8:30am, at The Willows, Croydon University Hospital"
        >
          2 March 2025 4:30 pm
        </a>


<p
aria-hidden="true"
class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1"
>
Dr May Lindon (Clinical Practitioner) </p>

<p
aria-hidden="true"
class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
Bragston Medical Practice </p>

</div>




<svg
class="nhsapp-icon nhsapp-icon--chevron-right"
xmlns="http://www.w3.org/2000/svg"
aria-hidden="true"
focusable="false"
height="2rem"
width="2rem"
viewBox="0 0 24 24"
>
<path
d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
/>
</svg>
</div>
</li>
</ul>
{% endblock %}