{% extends 'layout-app.html' %}

{% set hub = "Home" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Appointment notes and other updates" %}
{% set pageDescription = "Showing all notes and updates" %}
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <!-- DYNAMIC PAGE TITLE -->
    {{ dynamicPageTitle({
    title: pageHeading,
    titleSecondary: true,
    description: pageDescription
    })}}

    <!-- SECTION TITLE - NOVEMBER -->
    <h2 class="nhsuk-heading-s "> November 2025</h2>

    <ul class="nhsapp-cards" role="list">
      <!-- NOTE 1 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <p class="nhsapp-card__title nhsuk-u-font-size-22"
              aria-label="18 November 2025 at 2:25pm with Nurse Jamima Jackson from Crescent Park Family Practice">
              18 November 2025 2:25pm
            </p>

            <p aria-hidden="true" class="nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-2">
              Nurse Jamima Jackson </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">Assessment</h4>
            <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
              <li>Patient diagnosed with Type-2 Diabetes 4.5 years ago</li>
              <li>Treatments include insulin and dietary changes</li>
              <li>Patient also diagnosed with hypertension</li>
            </ul>
          </div>

        </div>

      </li>
      <!-- NOTE 2 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <p class="nhsapp-card__title nhsuk-u-font-size-22"
              aria-label="8 November 2025 at 2:00pm with Dr Maria Bailor from Crescent Park Family Practice">
              8 November 2025 2:00pm
            </p>

            <p aria-hidden="true" class="nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-2">
              Dr Maria Bailor </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>
            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">Problem</h4>
            <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
              <li>Attended alone: ID confirmed</li>
              <li>multiple years history of lump left side of forehead</li>
              <li>worried its something sinister</li>
              <li>no pain/tenderness</li>
              <li>some change in size over 3 years</li>
            </ul>
            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-0">Comments</h4>
            <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
              <li>given length of time and potential growth can do US to confirm but reassured likely benign</li>

            </ul>
          </div>

        </div>

      </li>
    </ul>


    <!-- SECTION TITLE - OCTOBER -->
    <h2 class="nhsuk-heading-s "> October 2025</h2>

    <ul class="nhsapp-cards" role="list">
      <!-- NOTE 1 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <p class="nhsapp-card__title nhsuk-u-font-size-22"
              aria-label="19 October 2025 at 4:30pm with Nurse Jamima Jackson from Crescent Park Family Practice">
              19 October 2025 4:30pm
            </p>

            <p aria-hidden="true" class="nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-2">
              Nurse Jamima Jackson </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>
          </div>

        </div>

      </li>
      <!-- NOTE 2 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <p class="nhsapp-card__title nhsuk-u-font-size-22"
              aria-label="18 October 2025 at 2:25pm with Nurse Jamima Jackson from Crescent Park Family Practice">
              18 October 2025 2:25pm
            </p>

            <p aria-hidden="true" class="nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-2">
              Nurse Jamima Jackson </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>

            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">History</h4>
            <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
              <li>Sore eyes and redness persisting for about 5 days</li>
              <li>Tried eye drops but irritating more than helping</li>
              <li>Doesn't recall any trauma or incidents</li>
              <li>Wants to avoid antibiotics due to past interactions causing inflammation</li>
              <li>Concerned about potential underlying issues like glaucoma or diabetes</li>
            </ul>
            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-0">Additional
            </h4>
            <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
              <li>Patient advised to do a warm compress with water boiled then cooled</li>
              <li>If no improvement in 3-4 days or if symptoms worsen, advised to return for further assessment</li>
            </ul>
          </div>

        </div>

      </li>
      <!-- NOTE 3 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <p class="nhsapp-card__title nhsuk-u-font-size-22"
              aria-label="1 October 2025 at 2:00pm with Nurse Jamima Jackson from Crescent Park Family Practice">
              1 October 2025 2:00pm
            </p>

            <p aria-hidden="true" class="nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-2">
              DOCMAN - PCTI </p>
          </div>

        </div>

      </li>
    </ul>

    <!-- SECTION TITLE - SEPTEMBER -->
    <h2 class="nhsuk-heading-s "> September 2025</h2>

    <ul class="nhsapp-cards" role="list">
      <!-- NOTE 1 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <p class="nhsapp-card__title nhsuk-u-font-size-22"
              aria-label="9 September 2025 at 4:30pm with Healthcare Assistant Alexander Jonathan Montgomery-Wilberforce from Crescent Park Family Practice">
              9 September 2025 4:30pm
            </p>

            <p aria-hidden="true" class="nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-2">
              Healthcare Assistant Alexander Jonathan Montgomery-Wilberforce </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-1 nhsuk-u-secondary-text-colour">
              Crescent Park Family Practice </p>
            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">Problem</h4>
            <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
              <li>Otitis media</li>
              <li>Patient reports ear pain, reduced hearing, and occasional discharge from the left ear</li>
              <li>Symptoms have been present for 5 days, worsening over time</li>
              <li>Patient has tried over-the-counter ear drops with minimal relief</li>
              <li>Patient has a history of recurrent ear infections but no known hearing loss</li>
            </ul>
          </div>

        </div>

      </li>
      <!-- NOTE 2 -->
      <li class="nhsapp-card" role="listitem">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <p class="nhsapp-card__title nhsuk-u-font-size-22" aria-label="1 September 2025 with Nursing Associate Leanne Murray from The Royal and Integrated Centre for Advanced Multidisciplinary Cardiothoracic and Neurological Healthcare
              Services">
              1 September 2025
            </p>

            <p aria-hidden="true" class="nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-2">
              Nursing Associate Leanne Murray </p>

            <p aria-hidden="true" class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-1 nhsuk-u-secondary-text-colour">
              The Royal and Integrated Centre for Advanced Multidisciplinary Cardiothoracic and Neurological Healthcare
              Services </p>

            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-bottom-0">Problem</h4>
            <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
              <li>Intermittent chest discomfort for 1 week, worse on exertion</li>
              <li>Shortness of breath when climbing stairs, relieved by rest</li>
              <li>Occasional palpitations reported, no syncope</li>
              <li>No recent chest injury, fever, or productive cough</li>
              <li>Family history of ischaemic heart disease; patient requests cardiothoracic review</li>
            </ul>
            <h4 class="nhsuk-u-font-weight-bold nhsuk-body-m nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-0">Examination
            </h4>
            </h4>
            <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-0">
              <li>ECG performed showing normal sinus rhythm with no acute changes</li>
              <li>Referred for further cardiothoracic review within 2 weeks </li>
              <li>Further assessment required</li>
            </ul>
          </div>

        </div>

    </ul>

  </div>

</div>

<div class="nhsapp-card">
  <div class="nhsapp-card__container">
    <div class="nhsapp-card__content">
      <p> No further information available</p>
    </div>
  </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <p>You may see medical abbreviations that you are not familiar with.</p>
    <a href="#" class="app-link--with-icon nhsuk-link--no-visited-state">
      {{ nhsappIcon('help') }}
      Help with abbreviations
    </a>
  </div>
</div>
{% endblock %}