.app-section-break--width-2 {
  border-width: 2px;
}

.app-section-break--width-4 {
  border-width: 4px;
}

.app-section-break--width-8 {
  border-width: 8px;
}

// Colours
.color_nhsuk-grey-1 {
  border-color: $color_nhsuk-grey-1;
}