<div class="app-dynamic-page-title {%- if params.titleSecondary %} nhsuk-u-margin-bottom-5 {% endif %} {%- if params.logo and data['web'] !== "yes" %} nhsuk-u-padding-top-4 {% endif %} {%- if params.titleSmall %} nhsuk-u-margin-bottom-5{% endif %} {%- if params.classes %} {{ params.classes }}{% endif %} ">
  {%- if params.logo %}
  {% endif %}
  {%- if params.linkedProfile %}
    <h1 class="app-dynamic-page-title__heading">
      {{ params.linkedProfile.name }}
    </h1>
    <p class="nhsuk-heading-s app-dynamic-page-title__description">
      {{ params.linkedProfile.age }} years old
    </p>
  {%- else %}
    <h1 class="app-dynamic-page-title__heading {%- if params.titleSmall %} nhsuk-heading-l{% endif %}">
      {%- if params.greetingName %}
      <span class="app-greeting"></span>, 
      <span class="app-dynamic-page-title__name">{{ params.greetingName }}</span>
      {%- else %}
        {%- if params.titleHiddenTextBefore %} 
          <span class="nhsuk-u-visually-hidden">{{ params.titleHiddenTextBefore }} </span>
        {% endif %}
        {{ params.title }}
        {%- if params.titleHiddenTextAfter %} 
          <span class="nhsuk-u-visually-hidden"> {{ params.titleHiddenTextAfter }}</span>
        {% endif %}
      {% endif %}
    </h1>
    {%- if params.nhsNumber %}
    <p class="nhsuk-heading-s app-dynamic-page-title__description">
      NHS number:
      <span class="app-dynamic-page-title__nhs-number">{{ params.nhsNumber }}</span>
    </p>
    {% endif %}
    {%- if params.description %}
    <p class="app-dynamic-page-title__description {%- if params.descriptionMuted %} nhsuk-u-secondary-text-color{% endif %}">
      {{ params.description | safe }}
    </p>
    {% endif %}
  {% endif %}
</div>