{% extends 'layout-app.html' %}

{% set hub = "Home" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Referral letter for diabetes eye screening" %}
{% set pageDescription = "Added on 19 July 2025" %}
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- DYNAMIC PAGE TITLE -->
    {{ dynamicPageTitle({
    title: pageHeading,
    description: pageDescription
    })}}

    <img class="nhsuk-u-margin-bottom-5" src="/images/eye-screening-referral-letter.png"
      alt="Referral letter for diabetes eye screening from the Health and Wellbeing clinic. Page 1">

    <img class="nhsuk-u-margin-bottom-5" src="/images/eye-screening-referral-letter-2.png"
      alt="Referral letter for diabetes eye screening from the Health and Wellbeing clinic. Page 2">

    <button class="nhsuk-button nhsapp-button" data-module="nhsuk-button" type="submit">
      Download
    </button>

    <div class="nhsuk-body-l">
      <p> When you download this document, you become responsible for keeping it confidential. </p>
    </div>

    {{ glossary()}}


    {% endblock %}