{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkText = "Back" %}

{% set pageHeading = "Your documents" %}
{% set pageDescription = "Showing all GP surgery documents" %}
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- DYNAMIC PAGE TITLE -->
    {{ dynamicPageTitle({
    title: pageHeading,
    titleSecondary: true,
    description: pageDescription
    })}}

    <!-- SECTION TITLE - SEPTEMBER -->
    <h2 class="nhsuk-heading-s "> September 2025</h2>

    <!--DOCUMENT LIST-->
    <ul class="nhsapp-cards" role="list">
      <!--Referral letter-->
      <li class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="Referral letter added on 4 September 2025">
              Referral Letter</a>




            <p aria-hidden="true" class="nhsuk-u-font-weight nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3">
              Attachment added on 14 September 2025</p>
            <p class="nhsapp-card__description"> (DOC, 54KB) </p>
          </div>


          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>

      <!--Letter - Unavailable-->
      <li class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="detail-unavailable" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="Letter - Unavailable in the NHS App added on 20 September 2025 ">
              Letter - Unavailable in the NHS App </a>

            <p aria-hidden="true" class="nhsuk-u-font-weight nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-0">
              Added on 12 September 2025</p>

          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>

    </ul>

    <!-- SECTION TITLE - JULY -->
    <h2 class="nhsuk-heading-s nhsuk-u-margin-top-8"> July 2025</h2>

    <!--DOCUMENT LIST-->
    <ul class="nhsapp-cards" role="list">
      <!-- Results Letter -->
      <li class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="Results letter for diabetes eye screening added on 29 July 2025">
              Results letter for diabetes eye screening</a>




            <p aria-hidden="true" class="nhsuk-u-font-weight nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3">
              Document added on 29 July 2025</p>
            <p class="nhsapp-card__description"> (PDF, 78KB) </p>
          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>

      <!-- Attachment -->
      <li class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="Attachment added on 20 July 2025">
              Attachment</a>




            <p aria-hidden="true" class="nhsuk-u-font-weight nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3">
              Added on 20 July 2025</p>
            <p class="nhsapp-card__description"> (PDF, 98KB) </p>
          </div>


          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>

      <!-- Referral Letter -->
      <li class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="eye-screening-referral-letter"
              class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="Referral letter for diabetes eye screening added on 16 July 2025">
              Referral letter for diabetes eye screening</a>




            <p aria-hidden="true" class="nhsuk-u-font-weight nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3">
              Attachment added on 19 July 2025</p>
            <p class="nhsapp-card__description"> (DOC, 78KB) </p>
          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>
    </ul>

    <!-- SECTION TITLE - MARCH -->
    <h2 class="nhsuk-heading-s nhsuk-u-margin-top-8"> March 2025</h2>

    <!--DOCUMENT LIST-->
    <ul class="nhsapp-cards" role="list">
      <!-- Document March -->
      <li class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="Document added on 18 March 2025">
              Document</a>




            <p aria-hidden="true" class="nhsuk-u-font-weight nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3">
              e-RS letter added on 18 March 2025</p>
            <p class="nhsapp-card__description"> (DOC, 44KB) </p>
          </div>


          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>
    </ul>

    <!-- SECTION TITLE - DECEMBER -->
    <h2 class="nhsuk-heading-s nhsuk-u-margin-top-8"> December 2024</h2>

    <!--DOCUMENT LIST-->
    <ul class="nhsapp-cards" role="list">
      <!-- Document Dec -->
      <li class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="view-document" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="Document added on 2 December 2024">
              Appointment letter</a>
            <p aria-hidden="true" class="nhsuk-u-font-weight nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3">
              Letter added on 2 December 2024</p>
            <p class="nhsapp-card__description"> (PDF, 98KB) </p>
          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>

      <!-- MRI Letter -->
      <li class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="discharge-letter" class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="MRI Discharge letter added on 12 December 2024">
              MRI discharge letter</a>




            <p aria-hidden="true" class="nhsuk-u-font-weight nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3">
              Attachment added on 12 December 2024</p>
            <p class="nhsapp-card__description"> (DOC, 98KB) </p>
          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>

      <!-- Attachment -->
      <li class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="Attachment added on 21 August 2024">
              Document</a>




            <p aria-hidden="true" class="nhsuk-u-font-weight nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3">
              Attachment added on 3 December 2024</p>
            <p class="nhsapp-card__description"> (PDF, 1.4MB) </p>
          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>
    </ul>

    <!-- SECTION TITLE - JULY -->
    <h2 class="nhsuk-heading-s nhsuk-u-margin-top-8"> July 2025</h2>

    <!--DOCUMENT LIST-->
    <ul class="nhsapp-cards" role="list">
      <!-- Emergency prescription -->
      <li class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="Emergency prescription added on 1 July 2024">
              Emergency prescription</a>




            <p aria-hidden="true" class="nhsuk-u-font-weight nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3">
              Added on 1 July</p>
            <p class="nhsapp-card__description"> (DOC, 76KB) </p>
          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>
    </ul>

    <!-- SECTION TITLE - MAY -->
    <h2 class="nhsuk-heading-s nhsuk-u-margin-top-8"> May 2025</h2>

    <!--DOCUMENT LIST-->
    <ul class="nhsapp-cards" role="list">
      <!-- Letter -->
      <li class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="Letter added on 19 May 2024">
              Letter</a>




            <p aria-hidden="true" class="nhsuk-u-font-weight nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3">
              Attachment added on 19 May 2024</p>
            <p class="nhsapp-card__description"> (PDF, 1.9MB) </p>
          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>


      <!-- e-RS Letter -->
      <li class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              aria-label="e-RS Letter added on 7 May 2024">
              e-RS Letter</a>




            <p aria-hidden="true" class="nhsuk-u-font-weight nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3">
              Attachment added on 7 May 2024</p>
            <p class="nhsapp-card__description"> (RTF, 86KB) </p>
          </div>




          <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
            <path
              d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
          </svg>
        </div>
      </li>

    </ul>

    <div class="nhsapp-card">
      <div class="nhsapp-card__container">
        <div class="nhsapp-card__content">
          <p class="nhsuk-u-font-weight nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-1"> No further information available
          </p>
        </div>
      </div>
    </div>

    <!-- Abbreviations -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <p>You may see medical abbreviations that you are not familiar with.</p>
        <a href="#" class="app-link--with-icon nhsuk-link--no-visited-state">
          {{ nhsappIcon('help') }}
          Help with abbreviations
        </a>
      </div>
    </div>
    {% endblock %}